*{
    box-sizing: border-box;
}

.card {
    transition: all 0.2s ease;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 0 5px rgba(3, 20, 0);
}

.card img {
    width: 18rem;
    height: 250px;
    
}

h2{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    padding-top: 5px;
    text-align: center;
}

p {
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-align: center;
}

input {
    border: none;
    color: rgb(22, 14, 107);
    cursor: pointer;
    transition: all .25s;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial;
    background-color: rgb(204, 205, 171);
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

input:hover {
    color: rgb(107, 14, 16);
}



