{% extends 'core/base.html' %}

{% block title %}POSTRES Y BOCADITOS{% endblock %}

{% block background %}{% load static %}{% static 'core/img/postre.jpg' %}{% endblock %}

{% block headers %} 
    <h1>POSTRES Y BOCADITOS</h1>
    <span class="subheading">AQUI NUESTRO CATALOGO DE POSTRES Y BOCADITOS</span>
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/catalogo.css' %}">
<div class="contenedor">

    <div class="catalogo">
        <img src="{% static 'core/img/postre1.jpg' %}" alt="Torta">
        <h2>Postre de Chocolate Cubierta de Manjar</h2>
        <p>Esta receta es ideal para principiantes,
         además de que se puede decorar o modificar al gusto con distintos sabores.
         La torta clásica es una torta casera y fácil de preparar, ideal para servir sola,
         como postre o merienda.</p>
         <a href="#">Añadir al Carrito</a>
    </div>

    <div class="catalogo">
        <img src="{% static 'core/img/postre2.jpg' %}" alt="Torta">
        <h2>Postre con Galletas de Oreos</h2>
        <p>Esta receta es ideal para principiantes,
         además de que se puede decorar o modificar al gusto con distintos sabores.
         La torta clásica es una torta casera y fácil de preparar, ideal para servir sola,
         como postre o merienda.</p>
         <a href="#">Añadir al Carrito</a>
    </div>

    <div class="catalogo">
        <img src="{% static 'core/img/bocadillo1.jpg' %}" alt="Torta">
        <h2>Bocadillos de Galletas con Frutas</h2>
        <p>Esta receta es ideal para principiantes,
         además de que se puede decorar o modificar al gusto con distintos sabores.
         La torta clásica es una torta casera y fácil de preparar, ideal para servir sola,
         como postre o merienda.</p>
         <a href="#">Añadir al Carrito</a>
    </div>

</div>
{% endblock %}


