{% extends 'core/base.html' %}

{% block title %}TORTAS{% endblock %}

{% block background %}{% load static %}{% static 'core/img/torta-pg.jpg' %}{% endblock %}

{% block headers %} 
    <h1>TORTAS</h1>
    <span class="subheading">AQUI NUESTRO CATALOGO DE TORTAS</span>
{% endblock %}


    
    

    





{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/catalogo.css' %}">
<div class="contenedor">

    <div class="catalogo">
        <img src="{% static 'core/img/torta-vainilla.jpg' %}" alt="Torta">
        <h2>Torta de Vainilla</h2>
        <p>Esta receta es ideal para principiantes,
         además de que se puede decorar o modificar al gusto con distintos sabores.
         La torta clásica es una torta casera y fácil de preparar, ideal para servir sola,
         como postre o merienda.</p>
         <a href="#">Añadir al Carrito</a>
    </div>

    <div class="catalogo">
        <img src="{% static 'core/img/torta-chocolate.jpg' %}" alt="Torta">
        <h2>Torta de Chocolate</h2>
        <p>Esta receta es ideal para principiantes,
         además de que se puede decorar o modificar al gusto con distintos sabores.
         La torta clásica es una torta casera y fácil de preparar, ideal para servir sola,
         como postre o merienda.</p>
         <a href="#">Añadir al Carrito</a>
    </div>

    <div class="catalogo">
        <img src="{% static 'core/img/torta-helado.jpg' %}" alt="Torta">
        <h2>Torta de Helados</h2>
        <p>Esta receta es ideal para principiantes,
         además de que se puede decorar o modificar al gusto con distintos sabores.
         La torta clásica es una torta casera y fácil de preparar, ideal para servir sola,
         como postre o merienda.</p>
         <a href="#">Añadir al Carrito</a>
    </div>

</div>
{% endblock %}

