{% extends 'core/base.html' %}

{% block title %}TORTAS{% endblock %}

{% block background %}{% load static %}{% static 'core/img/torta-pg.jpg' %}{% endblock %}

{% block headers %} 
    <h1>TORTAS</h1>
    <span class="subheading">AQUI NUESTRO CATALOGO DE TORTAS</span>
{% endblock %}

{% block content %}
    {% for torta in tortas %}
        <!-- Proyecto -->
        <div class="row project">  	
        <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid" src="{{ torta.image.url }}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading title">{{ torta.title }}</h2>   
            <p>{{ torta.description }}</p>
        </div>
        </div>
        </div>
    {% endfor %}
{% endblock %}

