{% extends 'core/base.html' %}

{% block title %}Registro{% endblock %}

{% block background %}{% load static %}{% static 'user/image/imagelr.jpg' %}{% endblock %}

{% block headers %}
	<meta charset="UTF-8">
	<title></title> 
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
	<link rel="stylesheet" href="{% static 'user/css/estilos_login.css' %}">
	

{% endblock %} 

{% block content %}
 <form method="post" class="formulario">
     <h1>Registrate</h1>
     <div class="contenedor">
            {% csrf_token %}
            
           {{formulario.as_p}}

         <button type="submit" id="submit"> Registrate</button>
         <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
         <p>¿Ya tienes una cuenta?  <a class="nav-item" class="link"
          href="{% url 'login' %}">Iniciar Sesion</a></p>
     </div>
 </form>
{% endblock %}